body {
  background-color: #000000;
  margin: 0;
  font-family:"Modern DOS 8x14";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family:"Modern DOS 8x14";
  src:url("https://notabug.org/HarvettFox96/ttf-moderndos/raw/2dfa3241120e1ca775f9ee45194f0376a0bf4030/ttf/ModernDOS8x14.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}