body {
  background-color: #000000;
  margin: 0;
  font-family:"Modern DOS 8x14";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family:"Modern DOS 8x14";
  src:url("https://github.com/Ho-Joon-Kim/TextHoled-em.io/raw/master/src/ModernDOS8x14.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}